.StatusButton {
    max-width: 100%;
    width: 352px;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    grid-template-rows: 76px;
}

.StatusButton .textContainer {
    background-color: var(--color-bg-secondary);
    grid-column: 1/3;
    grid-row: 1/2;
}

.StatusButton .dot {
    background-color: var(--color-available);
    border-radius: 50%;
    border: 8px solid var(--color-bg-secondary-light);
    grid-column: 2/4;
    grid-row: 1/2;
}

.StatusButton .dot.busy {
    background-color: var(--color-busy);
}

.StatusButton .text {
    grid-column: 1/2;
    grid-row: 1/2;
    text-transform: uppercase;
}