.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.App a {
  color: inherit;
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
}

.App-header * {
  color: var(--color-text);
  font-size: 0.9em;
}

.App-header nav {
  width: 100%;
}

.App-header nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.App-header nav ul li {
  margin: 0 1em;
}

.App main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}
