:root {
  --color-text: white;
  --color-bg-primary: #093A3E;
  --color-bg-secondary: #3AAFB9;
  --color-bg-secondary-light: #97C8EB;
  --color-bg-tertiary: #DCD3C6;
  --color-available: #00B020;
  --color-busy: #B00020;
}